<footer class="footer text-white">
    <div class="container text-center">
        <div class="social-icons mb-3">
            <a href="https://github.com/alb2801" target="_blank" class="text-white me-3">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/alberth-yecid-cifuentes-pulgarin-181aa72a6/" target="_blank" class="text-white me-3">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/alberth_2801" target="_blank" class="text-white">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
        <div class="contact-info">
            <p><strong>Nombre:</strong> Alberth Yecid Cifuentes Pulgarin</p>
            <p><strong>Correo Electrónico:</strong> alberthpulgarin&#64;gmail.com</p>
        </div>
        © 2025 Alberth Cifuentes. Todos los derechos reservados.
    </div>
</footer>