/* Estilos generales */
.container {
    padding: 0 2rem;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.mt-6 {
    margin-top: 4rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

/* Estilos para las tarjetas */
.card-custom {
    color: white;
    border: none !important;
    background: rgb(96, 165, 250);
    background: linear-gradient(0deg, rgba(96, 165, 250, 1) 65%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1rem;
}

.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h5 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    line-height: 1.3;
}

.card p {
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

.card a {
    color: #60A5FA;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.carousel-indicators {
    top: 105%;
}

.col-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos para imágenes clickeables */
.clickable-image {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.clickable-image:hover {
    opacity: 0.9;
}

/* Estilos para el modal */
.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-header {
    border: none;
    padding: 1rem;
    position: absolute;
    right: 0;
    z-index: 1050;
}

.btn-close {
    background-color: white;
    opacity: 0.8;
}

.modal-body {
    padding: 0;
}

.modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

.clickable-carousel {
    cursor: pointer;
}

/* Ajustes para el carrusel en el modal */
#modalCarousel .carousel-item img {
    max-height: 85vh;
    object-fit: fill;
}

#modalCarousel .carousel-indicators {
    bottom: -50px;
}

#modalCarousel .carousel-control-prev,
#modalCarousel .carousel-control-next {
    width: 10%;
}

/* Añade estos estilos al archivo CSS */
.carousel-image-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.carousel-image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease;
}

.carousel-image-container:hover::after {
    background: rgba(255, 255, 255, 0.1);
}

/* Asegúrate de que los controles del carrusel estén por encima */
.carousel-control-prev,
.carousel-control-next {
    z-index: 3;
}

.carousel-indicators {
    z-index: 3;
}

/* Ajusta el cursor para los controles */
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators button {
    cursor: pointer;
}