<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contáctame</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Si deseas contactarme, aquí tienes mi información:</p>
                <ul class="list-unstyled">
                    <li><strong>Nombre:</strong> Alberth Yecid Cifuentes Pulgarin</li>
                    <li><strong>Correo Electrónico:</strong> alberthpulgarin&#64;gmail.com</li>
                    <li><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/alberth-yecid-cifuentes-pulgarin-181aa72a6/" target="_blank">Ver perfil</a></li>
                    <li><strong>GitHub: </strong> <a href="https://github.com/alb2801" target="_blank">Ver perfil</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>